<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Probe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <userSettings>
    <Probe.Properties.Settings>
      <setting name="InstanceCode" serializeAs="String">
        <value />
      </setting>
      <setting name="ReplayFolders" serializeAs="String">
        <value />
      </setting>
      <setting name="sc2path" serializeAs="String">
        <value />
      </setting>
    </Probe.Properties.Settings>
  </userSettings>
</configuration>
