<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Overlays.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Probe.WpfUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Overlays.Properties.Settings>
            <setting name="HideHotkeyWindowWidth" serializeAs="String">
                <value>317</value>
            </setting>
            <setting name="HideHotkeyWindowHeight" serializeAs="String">
                <value>193</value>
            </setting>
            <setting name="BOMargin" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapNotificationMargin" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="ResourcesNotificationMargin" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="BoostNotificationMargin" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="ResourcesCaptureMargin" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
        </Overlays.Properties.Settings>
        <Probe.WpfUI.Properties.Settings>
            <setting name="HideHotkeyWindowWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="HideHotkeyWindowHeight" serializeAs="String">
                <value>300</value>
            </setting>
        </Probe.WpfUI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
